[Unit]
Description=Mount unit for lxd, revision 20326
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/lxd_20326.snap
Where=/snap/lxd/20326
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
