[Unit]
Description=Mount unit for snapd, revision 11841
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/snapd_11841.snap
Where=/snap/snapd/11841
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
